<html>

	<head>
	<link rel = "stylesheet" type="text/css" href = "/static/css/bootstrap.min.css">
	</head>
		<body>
		<div class="conatainer">
			<h1>Courier Search </h1>
			<form method="post" action="/search/">
				{% csrf_token %}
				<div class="form-group">
					<div class="col-lg-5">
				<input type="text" name="srh" class="form-control" placeholder = "Enter Name or Roll Number or Courier Service">
				    </div>
				    <label class="col-lg-2">
				    	<button type="submit" class="btn btn-danger">SEARCH</button>
				    </label>
				</div>

	        </form><br><br>

	        <div>
	        	{% if messages %}
	        	    <ul class="messages">
	        	 	    {% for k in messages %}
	        	 	    <li style="color: red">{{ k }}</li>
	        	    {% endfor %}
	        	    </ul>
	        	{% endif %}
	        </div><br>
	            <div style = "color":blue>

	            	{% if sr %}
	            	    {% for k in sr %}
	            	    <table border="0px" width="300px">
	            	    <tr>
	            	    	<td>Name</td>
	            	    	<td>{{ k.name }}</td>
	            	    </tr>
	            	    <tr><
	            	    	<td>Roll Number</td>
	            	    	<td>{{ k.rollnumber }}</td>
	            	    </tr>
	            	    <tr>
	            	    	<td>Courier Service</td>
	            	    	<td>{{ k.service }}</td>
	            	    </tr>
	            	    </table>
	            	<hr>
	            	    {% endfor %}
	            	{% endif %}  
	            </div>

	              


		</body>
</html>